<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('css/estils.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
     <a href ="{{path('inici')}}">Torna a l'inici</a>
     <a href ="{{path('nou_formulari')}}">Nou formulari</a>
        {% block body %}
        {% endblock %}
    </body>
</html>
