{% extends 'base.html.twig' %}
{% block title %}Llibres{% endblock %}
{% block body %}
<h1>Fitxa del llibre</h1>
{% if llibre %}
{{ include ('dades_llibre.html.twig', { 'llibre': llibre }) }}
{% else %}
<p>Llibre no trobat</p>
<img id="imatge" src="{{ asset('imgs/lupa.png') }}" />
{% endif %}
<a href ="{{path('inici')}}">Torna a l'inici</a>
{% endblock %}