{% extends 'base.html.twig' %}
{% block title %}Biblioteca{% endblock %}
{% block body %}
<h1>Biblioteca Personal JcPicot</h1>
<p>Pàgina d'inici</p>
<p>Projecte Symfony 2n DAW</p>
<p>Curs 20/21</p>
<a href ="{{ path('fitxa_llibre', {'isbn': "A111B3"}) }}"> <img id="imatge" src="{{ asset('imgs/llibre.png') }}"></a> 
{% endblock %}
